.learningCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.card {
  position: relative;
  width: 320px;
  height: 480px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
  margin: 1rem;
}
.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #ffce00;
  transform: skewY(345deg);
  transition: 0.5s;
}
.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}
.card::after {
  content: "LEARNING";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}
.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
/* .card .imgBox img {
	 max-width: 100%;
	 transition: .5s;
}
 .card:hover .imgBox img {
	 max-width: 50%;
} */

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .author {
  position: absolute;
  font-size: 16px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
.authorName {
  font-family: "Courier New", Courier, monospace;
}

.card .contentBox .learn {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}
.card:hover .contentBox .learn {
  top: 0;
  opacity: 1;
}
.mouse {
  height: 300px;
  width: auto;
}
